<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	<aside th:fragment="aside" class="col-md-3 d-xs-none d-sm-none d-md-block d-lg-block d-xl-block mt-4">
		<img class="img-fluid" alt="" th:src="@{'/images/publi.png'}" src="../static/images/publi.png">
		<img class="img-fluid mt-2" alt="" th:src="@{'/images/publi2.jpg'}" src="../static/images/publi2.jpg">
		<img class="img-fluid mt-2" alt="" th:src="@{'/images/publi.png'}" src="../static/images/publi.png">
	</aside>

</body>
</html>